{% extends 'base.html.twig' %}

{% block title %}Editar perfil{% endblock %}

{% form_theme form _self %}

{% block choice_widget_expanded %}
    {% for group_label, group in choices %}
    {%- if group is iterable -%}
        <li {{ block('widget_container_attributes') }}>
        <div class="collapsible-header">
            <h5>
                <i class="material-icons">navigate_next</i>
                {{ group_label|trans({}, translation_domain) }}
            </h5>
        </div>
        <div class="collapsible-body">
            {% for skills in group | batch(4) %}
                <div class="row">
                    {% for key, choice in skills %}
                        <div class="col s3">
                            {{ form_row(form[key]) }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        </li>
    {%- endif -%}
    {% endfor %}
{% endblock %}

{% block body %}
<div class="container about">
    <div class="section">
        <div class="row">
            {% include 'profile/options.html.twig' with { user: user }%}

            {{ form_start(form) }}
    
            <div class="col s12">
                <ul class="collapsible about-profile">
                    <li class="active">
                        {% include 'profile/profile_about.html.twig' with { form: form } %}
                    </li>
                    <li>
                        {{ form_row(form.skills) }}
                    </li>
                </ul>
            </div>
            <div class="col s12">
                <input type="submit" value="Guardar" class="btn blue">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
