{% extends 'base.html.twig' %}

{% block title %}Editar perfil{% endblock %}

{% block body %}
<div class="container preferencias-profile">
    <div class="section">
        <div class="row">
            {% include 'profile/options.html.twig' %}

            <div class="col s12">
                {{ form_start(form) }}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                <h5>
                                    <i class="material-icons">navigate_next</i>
                                    Cuenta
                                </h5>
                            </div>
                            <div class="collapsible-body">
                                <div class="input-field">
                                    {{ form_widget(form.username) }}
                                    {{ form_label(form.username) }}
                                </div>
                                <div class="input-field">
                                    {{ form_widget(form.email) }}
                                    {{ form_label(form.email) }}
                                </div>
                                <div class="input-field">
                                    <input type="submit" value="Guardar" class="btn blue">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <h5>
                                    <i class="material-icons">navigate_next</i>
                                    Contacto
                                </h5>
                            </div>
                            <div class="collapsible-body">
                                <div class="">
                                    {{ form_row(form.newsletter) }}
                                </div>
                                <div class="input-field">
                                    {{ form_widget(form.mobile) }}
                                    {{ form_label(form.mobile) }}
                                </div>
                                <div class="input-field">
                                    <input type="submit" value="Guardar" class="btn blue">
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="collapsible-header">
                                <h5>
                                    <i class="material-icons">navigate_next</i>
                                    Trabajo
                                </h5>
                            </div>
                            <div class="collapsible-body">
                                <div>
                                    {{ form_row(form.offerts) }}
                                </div>
                                <div class="input-field">
                                    {{ form_widget(form.country) }}
                                    {{ form_label(form.country) }}
                                </div>
                                <div class="input-field">
                                    {{ form_widget(form.city) }}
                                    {{ form_label(form.city) }}
                                </div>
                                <div class="input-field">
                                    {{ form_widget(form.salaryExpectation) }}
                                    {{ form_label(form.salaryExpectation) }}
                                    <span class="helper-text" data-error="wrong" data-success="right">
                                        {{ form_help(form.salaryExpectation) }}
                                    </span>
                                </div>
                                <div class="input-field">
                                    <input type="submit" value="Guardar" class="btn blue">
                                </div>
                            </div>
                        </li>
                    </ul>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').formSelect();
        });
    </script>
{% endblock %}