{% extends 'base.html.twig' %}

{% block title %}
    {% spaceless %}
        {% if user.profile %}
            {{ user.profile.name }} {{ user.profile.lastname }}
        {% else %}
            {{ user }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block meta %}
    <meta property="og:url" content="https://phpmexico.mx/u/{{ user.username }}" />
    <meta property="og:title" content="{{ user.username }} | PHP México" />
    {% if user.profile %}
    <meta property="og:description" content="{{ user.profile.title }}" />
    {% endif %}
    <meta property="og:image" content="{{ gravatar(user.email, 200) }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m{% if user.profile and not is_crawler %}6{% else %}12 {% endif %}">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s12 center">
                                <img src="{{ gravatar(user.email, 200) }}" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s12 center">
                                {% if user.profile %}
                                    <h2>{{ user.profile.name }} {{ user.profile.lastname }}</h2>
                                    {{ user.profile.title }}
                                {% else %}
                                    <h2>{{ user }}</h2>
                                {% endif %}
                            </div>

                            {% if user.offerts %}
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <span>Contactar para la vacante:</span>
                                        {{ form_start(contact_form) }}
                                        {{ form_widget(contact_form.job) }}
                                        <span class="red-text">
                                            {{ form_errors(contact_form.job) }}
                                        </span>
                                        <input type="submit" class="btn" value="Contactar">
                                        {{ form_end(contact_form) }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if user.profile and not is_crawler %}
                <div class="col s12 m6">
                    <div class="card-panel">
                        <div class="row">
                            <div class="s12">
                                <ul class="collection">
                                    {% for skill_group, key in skill_groups %}
                                        <li class="collection-item">
                                            <h5>{{ skill_group }}</h5>
                                        </li>
                                        {% for skill in skill_groups[skill_group] %}
                                            <li class="collection-item">
                                                <a href="{{ path('skill_slug', { slug: skill.slug }) }}">
                                                    {{ skill }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}
