<div class="card z-depth-0 join-image center-align p-35 unirse" id="join">
  <h2>
    Únete a PHP Mx
  </h2>

    {{ form_start(form) }}
    <div class="input-field col s12 blue-text">
      {{ form_widget(form.username) }}
      {{ form_label(form.username) }}
    </div>
    <div class="input-field col s12">
      {{ form_widget(form.email) }}
      {{ form_label(form.email) }}
      {{ form_errors(form.email) }}
    </div>
    <div class="row">
      <div class="col s6">
      {{ form_widget(form.slack) }}
      </div>
      <div class="col s6">
        {{ form_widget(form.newsletter) }}
      </div>
    </div>
    

    <button class="btn waves-effect waves-light" name="action" type="submit">Join
      <i class="material-icons right">send</i>
    </button>
    {{ form_end(form) }}
</div>
