{% extends 'base.html.twig' %}

{% block title %}{{ skill.name }}{% endblock %}

{% block meta %}
    <meta property="og:url" content="https://phpmexico.mx/skill/{{ skill.slug }}" />
    <meta property="og:title" content="{{ skill }} | PHP México" />
    <meta property="og:description" content="{{ skill.description }}" />
    <meta property="og:image" content="{{ skill.imageUrl }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="container cabecera-skills">
                        <h1 class="title">
                            <i class="material-icons">chevron_right</i> {{ skill.name }} | PHP México
                        </h1>
                        <h2 class="subtitle">
                            {{ skill.description | raw }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for profile in profiles %}
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="{{ gravatar(profile.user.email, 150) }}" alt="Placeholder image" class="circle">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <a href="{{ path('profile_user', {username: profile.user.username}) }}">
                                            <p class="">{{ profile.name }}</p>
                                            <p class="">@{{ profile.user.username }}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
