{% extends 'base.html.twig' %}

{% block title %}Crear Oferta de trabajo{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                {{ form_start(form) }}
                <div class="col s12">

                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Vacante</span>
                            <div class="input-field">
                                <i class="material-icons prefix">mode_edit</i>
                                {{ form_widget(form.title) }}
                                {{ form_label(form.title) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.title) }}
                                </span>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">money</i>
                                {{ form_widget(form.salary) }}
                                {{ form_label(form.salary) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.salary) }}
                                </span>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">money</i>
                                {{ form_widget(form.company) }}
                                {{ form_label(form.company) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.company) }}
                                </span>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">link</i>
                                {{ form_widget(form.application_url) }}
                                {{ form_label(form.application_url) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.application_url) }}
                                </span>
                            </div>
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header">
                                        Descripción
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="input-field">
                                            {{ form_widget(form.description) }}
                                            <span class="helper-text" data-error="wrong" data-success="right">
                                                {{ form_help(form.description) }}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">
                                        Requisitos
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="input-field">
                                            {{ form_widget(form.requirements) }}
                                            <span class="helper-text" data-error="wrong" data-success="right">
                                                {{ form_help(form.requirements) }}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Contacto</span>
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                {{ form_widget(form.contact) }}
                                {{ form_label(form.contact) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.contact) }}
                                </span>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                {{ form_widget(form.email) }}
                                {{ form_label(form.email) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.email) }}
                                </span>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">phone</i>
                                {{ form_widget(form.phone) }}
                                {{ form_label(form.phone) }}
                                <span class="helper-text" data-error="wrong" data-success="right">
                                    {{ form_help(form.phone) }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn cyan accent-4" value="Guardar">
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').formSelect();
        });
    </script>
{% endblock %}