{% extends 'base.html.twig' %}

{% block title %}Vacantes disponibles{% endblock %}

{% block meta %}
    <meta property="og:url" content="https://phpmexico.mx/jobs" />
    <meta property="og:title" content="Vacantes | PHP México" />
    <meta property="og:image" content="https://phpmexico.mx/images/logo-php.png" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">

                    <h3>Publica tu oferta</h3>
                    <a href="{{ path('jobs_create') }}" class="btn ">
                        Estas a un paso de publicar tu oferta
                    </a>

                    <ul class="collection">
                        {% for job in jobs %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">arrow_forward</i>
                            <a href="{{ path('job_show', {id: job.id}) }}">
                                <span class="title">{{ job.title }}</span>
                            </a>

                            <p>
                                {{ job.description | striptags('<b>,<a>,<pre>,<li>,<ul>,<br>,<p>,<strong>,<ol>,<em>') | raw  }}
                            </p>
                            <a href="{{ path('job_show', {id: job.id}) }}" class="secondary-content">
                                <i class="material-icons">lightbulb_outline</i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
